@page {
    margin-left: 30px;
    
}

div .nav { color: red; }
#titulo1 { color:rgb(255, 115, 0); }
p::selection {
    color: green;
    background-color: orangered;
}
body{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
  }
header {
    background-color:blue;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    flex-wrap: nowrap;
}
section {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.texto-miniatura{
    display: flex;
    justify-content: space-evenly;
  } 
.estrella{
    color:yellow;
}
.boton1{
    text-decoration:none;
font-weight:600;
font-size:20px;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:150px;
padding-right:150px;
background-color:#FFD27D;
border-radius:35px;
}
h1{
    color:orange
}
h2{
    color:rgb(244, 220, 7)
}
h3{
    color:rgb(0, 255, 140)
}
.foto-miniatura{
    width: 400px;
    height: fit-content;
}
footer{
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.licencia{
    height:22px!important;
  }