@page {
  margin-left: 30px;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9uZG8lMjBkZWwlMjBzaXRpbyUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-attachment: fixed;

}

p::selection {
  color: rgb(223, 129, 6);
  background-color: rgb(0, 4, 255);
}

header {
  background-color: blue;
  display: flex;
  justify-content: center;
}

.logo-govern {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.boton1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: rgb(230, 230, 227);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #0990eb;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

.boton1:hover {
  background-color: #3e8e41
}

.boton1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.boton2 {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #0990eb;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: none;
  border-radius: 35px;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(230, 230, 227)
}

h2 {
  color: rgb(4, 90, 37)
}

h3 {
  color: rgb(49, 143, 112)
}

body {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.estrella {
  color: yellow;
}

section {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

.fotos-secundarias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}

article {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: rgb(4, 90, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-left: 5px;
}

.datos-hotel {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.informacion-extendida {
  display: flex;
  justify-content: space-evenly;
}

.info-del-lugar {
  display: block;
}

.foto-principal {
  width: 500px;
  height: fit-content;
  border-radius: 6px;
}

.foto-secundaria {
  width: 400px;
  height: fit-content;
  border-radius: 6px;
}

li {
  text-align: left;
  ;
}

.estrella {
  display: flex;
  flex-wrap: nowrap;
  color: yellow;
}

.llaves {
  display: flex;
  flex-wrap: nowrap;
}

p {
  max-width: 500px;
}

.licencia {
  height: 22px !important;

}

.gps {
  width: 600px;
  height: 450px;
  border: 0;
}

/* Para móviles */
@media screen and (max-width: 391px) and (max-height: 845px) {
  section {
    flex-wrap: wrap;
  }

  .boton1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  nav {
    flex-wrap: wrap;
  }

  section {
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  article {
    flex-wrap: wrap;
  }

  .gps {
    width: 350px;
    height: 200px;
    border: 0;
  }

  .foto-principal {
    width: 350px;
    height: fit-content;
    border-radius: 6px;
  }

  .foto-secundaria {
    width: 350px;
    height: fit-content;
    border-radius: 6px;
  }
}

div h2 {
  margin-left: 5px;
  margin-right: 5px;

}