@page {
  margin-left: 30px;
}

div .nav {
  color: red;
}

#titulo1 {
  color: rgb(255, 115, 0);
}

p::selection {
  color: green;
  background-color: orangered;
}

header {
  background-color: blue;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.boton1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #FFD27D;
  border-radius: 35px;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.estrella {
  color: yellow;
}

section {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.fotos-secundarias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  display: flex;
  justify-content: space-between;

}

footer {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datos-hotel {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.informacion-extendida {
  display: flex;
  justify-content: space-evenly;
}

.info-del-lugar {
  display: flex;
  flex-direction: column;
}

.foto-principal {
  width: 500px;
  height: fit-content;
}

.foto-secundaria {
  width: 400px;
  height: fit-content;
}

li {
  text-align: left;
  ;
}

.estrella {
  color: yellow;
}

p {
  max-width: 500px;
}

.licencia {
  height: 22px !important;

}