@page {
    margin-left: 30px;
}
div .nav { color: red; }
#titulo1 { color:rgb(255, 115, 0); }
p::selection {
    color: green;
    background-color: orangered;
}
header {
    background-color:blue;
    display: flex;
    justify-content: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin:auto;
}
.estrella{
    color:yellow;
}
section{
  display:flex;
  align-content: space-between;
} 
.fotos-secundarias{
  display: block;
  align-content: space-between;
}
article {
  display: flex;
  justify-content: flex-start;
}
footer{
  background-color: green;
  display: flex;
  align-items:flex-start;
}
.datos-hotel{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  align-items: flex-start;
  
}
.foto-principal{
  width: 500px;
}
.foto-secundaria{
  width: 400px;
}
li{
  text-align: left;;
}